<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between align-items-center menu-certificate w-100">
    <a routerLink="/" class="d-flex align-items-center btn-back">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </a>
    <app-secundary-button phClass="ph ph-download-simple" buttonText="Download"></app-secundary-button>
  </div>

  <div *ngIf="certificate" class="certificate d-flex justify-content-center align-items-center">
    <img class="icon-medal" src="../../../assets/cetificate/certificate_ribbon.png" alt="Icone de medalha">
    <div class="content-certificate">
      <div class="info-certificate d-flex flex-column align-items-center">
        <img class="signature" src="../../../assets/cetificate/certificate_signature.svg" alt="assinatura" >
        <div class="titles-certificate">
          <h1>Certificado de conclusão</h1>
          <p>Esse certificado comprova que</p>
        </div>
        <p class="student-name">{{certificate.name}}</p>
        <div class="activities-list-group">
          <p class="activities-list-title">concluiu com sucesso as seguintes atividades</p>
          <p class="activities-list">
            {{certificate.activities.join(', ')}}
          </p>
        </div>
      </div>
      <p class="emission-data">Emitido em {{certificate.issueDate}}</p>
    </div>
  </div>


</div>
