<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between align-items-center menu-certificate w-100">
    <a routerLink="/" class="d-flex align-items-center btn-back">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </a>
    <app-secundary-button></app-secundary-button>
  </div>
  <div class="certificate d-flex justify-content-center align-items-center">
    <img class="icon-medal" src="../../../assets/cetificate/certificate_ribbon.png" alt="Icone de medalha">
    <div class="content-certificate">

      <div class="info-certificate d-flex flex-column align-items-center">
        <img class="signature" src="../../../assets/cetificate/certificate_signature.svg" alt="assinatura" >
        <div class="titles-certificate">
          <h1>Certificado de conclusão</h1>
          <p>Esse certificado comprova que</p>
        </div>

        <p class="student-name">Allan Roberto da Silva Gomes</p>
        <div class="activities-list-group">
          <p class="activities-list-title">concluiu com sucesso as seguintes atividades</p>
          <p class="activities-list">Introdução ao Angular, Configuração com Angular CLI, Criação de componentes reutilizáveis, Manipulação de
            dados, Implementação de data binding, Criação de rotas com Angular Router, Consumo de APIs REST
          </p>
        </div>

      </div>
      <p class="emission-data">Emitido em 25/09/2025</p>
    </div>

  </div>
</div>
